<!DOCTYPE html>
<link rel="stylesheet" href="/css/style.css">
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Home</title>
  </head>
  <body>
    <h1>หน้าหลักผู้ดูแลระบบ (Admin Home)</h1>

    <ul>
      <li><a href="/admin/complaints">ดูรายการคำร้อง</a></li>
      <li><a href="/admin/users">ดูรายการผู้ใช้ (User List)</a></li>
    </ul>

    <p><a href="/admin/login">ออกจากระบบ (หรือไปหน้า Login Admin)</a></p>
  </body>
</html>
