<!DOCTYPE html>
<link rel="stylesheet" href="/css/style.css">
<html>
  <head>
    <title>Home User</title>
  </head>
  <body>
    <h1>หน้าหลักผู้ใช้</h1>
    <p><a href="/complaint/create">สร้างคำร้อง</a></p>
  </body>
</html>
