<!DOCTYPE html>
<link rel="stylesheet" href="/css/style.css">
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Admin</title>
  </head>
  <body>
    <h1>Login ผู้ดูแล (Admin)</h1>
    <form action="/admin/login" method="POST">
      <p>
        <label>Username:</label><br>
        <input type="text" name="username" required>
      </p>
      <p>
        <label>Password:</label><br>
        <input type="password" name="password" required>
      </p>
      <button type="submit">เข้าสู่ระบบ (Admin)</button>
    </form>
  </body>
</html>
